{
	admin off
	auto_https off
	persist_config off
}

:{$PORT:8080} {
	root * ./dist
	header /favicon.ico Content-Type "image/x-icon"
	redir /index.html /index 301
	redir /index / 301
	try_files {path} /index.html
	encode gzip
	file_server {
		precompressed br gzip
	}
}
